
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bài học về DI Dungna29</h1>
<h3>Transient Service</h3>
@ViewBag.message1
<br />
@ViewBag.message2
<br />
<h3>Scoped Service</h3>
@ViewBag.message3
<br />
@ViewBag.message4

<h3>Singleton Service</h3>
@ViewBag.message5
<br />
@ViewBag.message6
